

</div>

<footer>
    <p>Copyright © Pawan Kumar 2023  %></p>
    <a href="https://github.com/singhpawank/ToDoKeeper"><img src="images/github-mark-white.svg" alt=" Github Repository"></a>
</footer>

<script src="js/main.js" type="text/javascript"></script>
<script src="js/main.js"></script>
</body>
</html>