<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo Keeper</title>
    <link rel="stylesheet" href="styles/style.css">

    <style>
        .bold-text{
            font-weight: bold !important;
        }
    </style>
</head>
<body>
    <header>
        <div id="nav-bar"> 
            <div id="logo">
                <a href="/">ToDo Keeper</a>
            </div>
            <div id="nav-items">
               <a class="<%= name==='home'?'bold-text':'' %>" href="/">Home</a>
               <a class="<%= name==='work'?'bold-text':'' %>" href="/work">Work</a>
            </div>
        </div>
    </header>
    

    <h1 id="heading"> <%= heading %> </h1>
    <div class="content">
        
        <div class="item">
            <form id="newItem-form" action="/addItem" method="POST">
                <input id="inputItem" type="text"   name="newItem" placeholder="New item" required>
                <button id="addItem"  type="submit" name=<%= name %> value="">+</button>
            </form>
        </div>